body {
    color: #e6e6e6;
    background-color: #1c1817;
    font-family: "JetBrains Mono", monospace;
    
}

::selection {
	background-color: #ff791a;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.content-grid-rules {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2.5rem;
}

.grid-spacing {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    user-select: none;
}

.nav-item {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.5rem;
}

.underline::after {
    content: '';
    background-color: #e6e6e6;
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 0.25rem;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.underline:hover::after {
    transform: scaleX(1);
}

.logo {
    padding: 0 1.5rem 0 1.5rem;
}

.logo-symbol {
  font-size: 1.75rem;
  margin-right: 0.5rem;
  transform: translateY(-0.25rem);
}

.logo-name {
  font-size: 1.8rem;
  font-weight: 200;
}

.separator {
    height: 2px;
    background-color: rgba(230, 230, 230, 0.4);
    margin: 1rem 5rem 1rem 5rem;
}

.btn {
    font-size: 1.5rem;
    font-family: "JetBrains Mono", monospace;
    background-color: #1c1817;
    padding: 0.75rem;
    transition: background-color 0.1s, color 0.1s, transform 0.2s ease;
    cursor: pointer;
}

.footer {
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
}

.footer-item {
    margin: 1rem;
    padding: 1rem;
}

.copyright {
    margin: 1rem;
    padding: 1rem;
}

.subpage-title {
    font-size: 9rem;
    margin: 5rem;
    justify-content: center;
    user-select: none;
}