.hero {
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 3rem;
    text-align: center;
    margin: 5rem;
    line-height: 1.2;
}

.hero-title-bold {
    display: inline;
}

.hero-title-light {
    display: inline;
    font-weight: 100;
    color: rgba(230, 230, 230, 0.75);
}

.img-container {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 11rem;
}

.hero-img {
    width: 100%;
    margin-top: 1rem;
}

.hero-btn-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-btn {
    color: #ff791a;
    border: #ff791a solid 2px;
}

.hero-btn:hover {
    color: #1c1817;
    background-color: #ff791a;
    transform: scale(1.05);
}

.hero-btn:active {
    color: #ff791a;
    background-color: #1c1817;
}

.about-section {
    margin: 3rem 25% 3rem 25%;
    /*font-family: "Noto Sans", sans-serif;*/
}

.about-text {
    font-size: 1.3rem;
    line-height: 1.2;
    margin: 0.75rem;
    width: 100%;
}

.about-btn {
    margin-top: 4rem;
    color: #e6e6e6;
    border: #e6e6e6 solid 2px;
}

.about-btn:hover {
    color: #1c1817;
    background-color: #e6e6e6;
    transform: scale(1.05);
}

.about-btn:active {
    color: #e6e6e6;
    background-color: #1c1817;
}

.about-img {
    width: 100%;
}