
.discord-logo {
  height: 1.75rem;
  margin-right: 0.25rem;
}

.github-logo {
  height: 1.8rem;
  margin-left: 0.25rem;
}

.hero {
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #dbdbdb;
  font-family: "JetBrains Mono", monospace;
  font-size: 8rem;
  margin: 1rem;
  user-select: none;
}

.hero-subtitle {
  color: #dbdbdb;
  font-family: "JetBrains Mono", monospace;
  font-size: 2rem;
  user-select: none;
}

.hero-img {
  width: 100%;
  margin-top: 1rem;
}

.hero-button-border {
  background-color: #dbdbdb;
  margin: 1rem;
  padding: 0.25rem;
  border-radius: 0.75rem;
  box-shadow: 0rem 0rem 1.25rem rgba(199, 107, 52, 0.65);
}

.hero-button {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  background-color: #dbdbdb;
  padding: 0.5rem;
  border: #171313 solid 0.175rem;
  border-radius: 0.5rem;
}
/*
.hero-button:hover {
  box-shadow: 0rem 0rem 0.2rem;
}
*/
.hero-button-border:hover {
  box-shadow: 0rem 0rem 1.75rem rgba(199, 107, 52, 1);
}

.hero-button:active {
  box-shadow: inset 0rem 0rem 0.2rem rgba(0, 0, 0, 0.75);
}


.content-container {
  padding-left: 20%;
  padding-right: 20%;
}

.content {
  background-color: #dbdbdb;
  padding: 1rem;
  border-radius: 0.5rem;
  border: #171313 solid 0.175rem;
}

.hero-btn-pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-title {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  margin-bottom: 0.5rem;
}

.alt-section-title {
  color: #dbdbdb;
  font-size: 2rem;
  font-family: "Noto Serif", serif;
}

.smaller-section-title {
  font-size: 1.75rem;
  margin-left: 0.5rem;
}

.section-paragraph {
  font-family: "Noto Serif", serif;
}

.guides-section {
  margin: 1rem;
}

.guides-spacing {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.w-full {
  width: 100%;
  border-radius: 0.75rem;
}

.showcased-img {
  margin: 1rem;
  border-radius: 0.75rem;
}

.showcase {
  margin: 1rem;
}