.blogs {
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blog-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.box-art {
    width: 100%;
    border-radius: 2px;
}

.blog-info {
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

.blog-date {
    font-size: 1.25rem;
    color: rgba(230, 230, 230, 0.6);
    font-weight: 700;
}

.blog-title {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.blog-underline {
    height: 2px;
    background-color: rgba(230, 230, 230, 0.4);
    margin-top: 2rem;
}