body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: "Inter", sans-serif;
}

::selection {
    background-color: var(--accent-color);
}

/*-Themes---------------------------------*/
.lightmode {
    --primary-color: #e5e5e5;
    --primary-variant-color: #1c1817aa;
    --secondary-color: #1c1817;
    --accent-color: #043457;
}

.darkmode {
    --primary-color: #1c1817;
    --primary-transparent: #1c1817cc;
    --primary-variant-color: #e5e5e577;
    --secondary-color: #e5e5e5;
    --accent-color: #ff8229;
    --alt-accent-color: #ff822980;
    --alt-text-color: #e5e5e5b0
}

/*-Global---------------------------------*/
.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.separator {
    height: 3px;
    background-color: var(--primary-variant-color);
}

.v-separator {
    height: 100%;
    width: 3px;
    background-color: var(--primary-variant-color);
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn {
    font-size: 1.5rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.75rem;
    border: var(--secondary-color) solid 3px;
    transition: background-color 0.1s, color 0.1s, transform 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.btn:active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.title-card {
    font-size: 7rem;
    text-align: center;
}

/*-Navigation-bar-------------------------*/
.logo-container {
    height: 100%;
}

.logo {
    height: 100%;
}

/* Light/dark mode toggle button */
.light-dark-toggle {
    border: none;
    background-color: var(--primary-color);
}

.light-dark-toggle img{
    height: 100%;
}

.light-dark-toggle img:first-child {
    display: none;
}

.light-dark-toggle:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 4px;
}

/* Navigation items */
.nav-menu {
    font-weight: 500;
}

.underline::after {
    content: '';
    background-color: var(--accent-color);
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 0.5rem;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.underline:hover::after {
    transform: scaleX(1);
}

/* Mobile dropdown menu */
.dropdown-container {
    height: 100%;
    position: relative;
    z-index: 99;
}

.dropdown-btn {
    background-color: var(--primary-color);
    border: none;
}

.dropdown-btn:hover {
    cursor: pointer;
}

.dropdown-btn:active {
    background-color: var(--primary-variant-color);
    border-radius: 4px;
}

.dropdown-btn-img {
    height: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--primary-color);
    border: solid 2px var(--secondary-color);
    z-index: 1;
}

.dropdown-menu a {
    margin: 0.5rem;
    display: block;
}

/*-Footer---------------------------------*/
.footer {
    margin: 4vh;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.footer-info * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*-Blog-Card------------------------------*/
.blog-card {
    border: var(--primary-variant-color) solid 4px;
    margin: 24px;
}

.center {
    justify-content: center;
    align-items: center;
}

.blog-img {
    width: 100%;
}

.blog-info {
    flex-direction: column;
    justify-content: center;
}

.blog-date {
    margin-left: 0.5rem;
    color: var(--alt-text-color);
}

.blog-card .v-separator {
    width: 4px;
    flex-shrink: 0;
}

/*-Responsive-functions-------------------*/
/* Mobile */
@media (min-width: 640px), (max-width: 640px) {
    .navbar {
        height: 2rem;
        font-size: 2.5rem;
        margin: 3vh;
    }

    .dropdown-container {
        display: inline-flex;
    }

    .nav-menu {
        display: none;
    }

    .separator {
        margin: 1rem 3rem 1rem 3rem;
    }

    .paragraph {
        font-size: 1.5rem;
        margin: 1.75rem;
    }

    .title-card {
        padding: 1rem;
    }

    .blog-card {
        grid-template-columns: 1fr;
    }

    .blog-info {
        margin: 2rem;
    }

    .blog-title {
        font-size: 3rem;
        font-weight: 600;
        margin: 0.5rem;
    }

    .blog-brief {
        margin: 0.5rem;
        margin-top: 1.25rem;
        font-size: 1.5rem;
    }
}

/* Tablet */
@media (min-width: 960px ) {
    .navbar {
        height: 2.5rem;
        font-size: 3rem;
        margin: 3.5vh;
    }

    .dropdown-container {
        display: none;
    }

    .nav-menu {
        display: inline-flex;
    }

    .nav-item {
        margin-left: 2rem;
        margin-left: 2rem;
    }

    .separator {
        margin: 1rem 4rem 1rem 4rem;
    }

    .paragraph {
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    .title-card {
        padding: 1.5rem;
    }

    .blog-card {
        grid-template-columns: 1fr 2fr;
    }

    .blog-info {
        margin: 0rem;
    }

    .blog-title {
        font-size: 2.5rem;
        font-weight: 500;
        margin: 0.5rem;
    }

    .blog-brief {
        margin: 0.5rem;
        margin-top: 1.3rem;
        font-size: 1.25rem;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .navbar {
        height: 3rem;
        font-size: 3.5rem;
        margin: 4vh;
    }

    .dropdown-container {
        display: none;
    }

    .nav-menu {
        display: inline-flex;
    }

    .nav-item {
        margin-left: 3rem;
        margin-left: 3rem;
    }

    .separator {
        margin: 1rem 5rem 1rem 5rem;
    }

    .paragraph {
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    .title-card {
        padding: 2rem;
    }

    .blog-card {
        grid-template-columns: 1fr 2fr;
    }

    .blog-info {
        margin: 0rem;
    }

    .blog-title {
        font-size: 3rem;
        font-weight: 600;
        margin: 0.5rem;
    }

    .blog-brief {
        margin: 0.5rem;
        margin-top: 1.25rem;
        font-size: 1.5rem;
    }
}