/*-Hero-----------------------------------*/
.hero {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 12vh;
    margin-bottom: 15vh;
}

.hero-title {
    text-align: center;
    line-height: 1.2;
    margin: 3.5rem;
}

.cta {
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 100%;
}

.hero-title-bold {
    font-weight: 500;
}

.hero-title-thin {
    font-weight: 300;
}

.hero-btn {
    white-space: nowrap;
    margin: 3rem;
    color: var(--accent-color);
    border: var(--accent-color) solid 3px;
}

.hero-btn:hover {
    color: var(--primary-color);
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.hero-btn:active {
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.section-title {
    font-size: 3rem;
    font-weight: 500;
}

.about-media {
    flex-direction: column;
    align-items: center;
}

.about-img {
    width: 100%;
}

.about-btn {
    white-space: nowrap;
    margin: 3rem;
}

.about-btn:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.about-btn:active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.blog-card {
    border: var(--primary-variant-color) solid 4px;
    margin: 24px;
}

.center {
    justify-content: center;
    align-items: center;
}

.blog-img {
    width: 100%;
}

.blog-info {
    flex-direction: column;
    justify-content: center;
}

.blog-date {
    margin-left: 0.5rem;
    color: var(--alt-text-color);
}

.blog-card .v-separator {
    width: 4px;
    flex-shrink: 0;
}

/*-Responsive-functions-------------------*/
/* Mobile */
@media (min-width: 640px), (max-width: 640px) {
    .hero-title {
        font-size: 3rem;
    }

    .hero-img {
        display: none;
    }

    .hero-btn {
        font-size: 2.5rem;
        border-width: 4px;
    }

    .section-rules {
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .about-img {
        display: none;
    }

    .about-btn {
        font-size: 2.5rem;
        border-width: 4px;
    }

    .blog-card {
        grid-template-columns: 1fr;
    }

    .blog-info {
        margin: 2rem;
    }

    .blog-title {
        font-size: 3rem;
        font-weight: 600;
        margin: 0.5rem;
    }

    .blog-brief {
        margin: 0.5rem;
        margin-top: 1.25rem;
        font-size: 1.5rem;
    }

    .blog-card .v-separator {
        display: none;
    }
}

/* Tablet */
@media (min-width: 960px ) {
    .hero-title {
        font-size: 3.5rem;
    }

    .hero-img {
        display: inline;
    }

    .hero-btn {
        font-size: 2rem;
        border-width: 3px;
    }

    .section-rules {
        margin-left: 14vw;
        margin-right: 14vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .about-img {
        display: none;
    }

    .about-btn {
        font-size: 2.5rem;
        border-width: 4px;
    }

    .blog-card {
        grid-template-columns: 1fr 2fr;
    }

    .blog-info {
        margin: 0rem;
    }

    .blog-title {
        font-size: 2.5rem;
        font-weight: 500;
        margin: 0.5rem;
    }

    .blog-brief {
        margin: 0.5rem;
        margin-top: 1.3rem;
        font-size: 1.25rem;
    }

    .blog .v-separator {
        display: inline;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .hero-title {
        font-size: 4rem;
    }

    .hero-img {
        display: inline;
    }

    .hero-btn {
        font-size: 2.5rem;
        border-width: 4px;
    }

    .section-rules {
        margin-left: 18vw;
        margin-right: 18vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .about-content {
        grid-template-columns: 1fr 1fr;
    }

    .about-img {
        display: block;
    }

    .about-btn {
        font-size: 2rem;
        border-width: 3px;
    }

    .blog-card {
        grid-template-columns: 1fr 2fr;
    }

    .blog-info {
        margin: 0rem;
    }

    .blog-title {
        font-size: 3rem;
        font-weight: 600;
        margin: 0.5rem;
    }

    .blog-brief {
        margin: 0.5rem;
        margin-top: 1.25rem;
        font-size: 1.5rem;
    }

    .blog .v-separator {
        display: inline;
    }
}